body {
    background: url("../img/01-fabric-shirt.png");
    background-repeat: repeat;
    background-attachment: fixed;
    animation: 1s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards running fadeIn;
    width: 100%;
    height: 100%;
    animation: fadeIn 1.0s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

.section-about .container {
    position: relative;
}
button:hover, [type="button"]:hover {
    cursor: pointer;
    border-color: transparent;
    background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #00abae);
    background-size: 200% auto;
    background-position: right center;
    box-shadow: 0 5px 10px #f69d3c;
}

.profile-intro:before {
    width: 5px;
    height: 155px;
    background: #08a0a5;
    content: '';
    position: absolute;
    right: 35%;
    margin-right: -4px;
    bottom: -76%;
    border-radius: 2px 2px 0px 0px;
}

.profile-intro:after {
    width: 39%;
    height: 0px;
    border-bottom: 5px solid #08a0a5;
    content: '';
    position: absolute;
    right: 35%;
    margin-right: -1px;
    bottom: -76%;
}

.tree-container {
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
    padding: 40px 0.75rem 0;
    margin: 0 auto;
}

.tree-container:before {
    position: absolute;
    width: 5px;
    background: #08a0a5;
    top: 0px;
    left: 0.75rem;
    margin-left: 25%;
    /* content: ''; */
    height: 100%;
}

.row {
    padding: 0 30px;
}

.col {
    margin: 0 80px;
    text-align: left;
}

.leaf-row {
    margin-bottom: 150px;
    padding: 35px 0;
    position: relative;
}

.leaf-card {
    width: 73%;
    position: relative;
    left: 15%;
    padding: 15px 30px;
    margin-bottom: 10px;
    background: #08a0a5;
    text-shadow: 1px 1px 1px rgba(26, 27, 33, 0.8);
    border-left: 5px solid #08a0a5;
    color: rgba(255, 255, 255, 0.9);
}

.leaf-card span {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

.tree-container h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #08a0a5;
    text-shadow: 0px 1px 1px #fff;
    margin: 0 1.5rem 10px;
    /* padding: 20px 0px; */
    justify-content: center;
    display: flex;
}
.tree-container .detail {
    
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #08a0a5;
    text-shadow: 0px 1px 1px #fff;
    margin: 0 1.5rem 30px;
    
    justify-content: center;
    display: flex;
}

.tree-container h2 span {
    position: absolute;
    top: 60px;
    left: 25px;
    font-size: 16px;
}

.tree-container h3 {
    font-size: 28px;
}

.leaf-circle {
    border-radius: 25%;
    overflow: hidden;
    display: block;
    text-indent: -9000px;
    text-align: left;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7) inset, 0px 0px 0px 5px #08a0a5;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 70%) inset, 0px 0px 0px 3px #08a0a5;
    background-size: cover;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -140px 0 1.5rem 25%;
}

.leaf-row h2:after {
    position: absolute;
    width: 75%;
    height: 5px;
    background: #08a0a5;
    top: 15px;
    left: -83%;
    content: '';
}

.leaf-small.leaf-circle {
    width: 100px;
    height: 100px;
}

.leaf-medium.leaf-circle {
    width: 220px;
    height: 220px;
    margin: -20px auto 30px;
}

.leaf-large.leaf-circle {
    width: 300px;
    height: 300px;
}

.closing-about {
    margin: 30px 50px;
    color: #424242;
}

.closing-about h2 {
    font-size: 32px;
}

.closing-about p {
    margin-bottom: 1rem;
}

@media (max-width: 414px) {
    .col {
        margin: 0;
    }

    .center {
        font-size: 1em;
    }

    .tree-container:before {
        margin-left: 15%;
    }

    .leaf-row h2:after {
        content: none;
    }

    .leaf-card {
        left: 12%;
        width: 80%;
        padding: 10px;
    }

    .tree-container h2 {
        font-size: 18px;
        margin: 0;
        left: -5%;
    }

    .tree-container h2 span {
        position: absolute;
        top: 25px;
        left: 3%;
        font-size: 14px;
    }

    .tree-container h3 {
        font-size: 18px;
    }
}

/* 追加 */
.section-title {
    text-align: center;
    margin: 70px 0 40px 0;
}

.row h2 {
    font-size: calc(1.325rem + 1.5vw);
}
.center {
    text-align: center;
    font-size: 1.2rem;
}
.row{
    justify-content: center;
}

.personal{
    width: 50%;
    margin: 0 auto 100px;
}

@media screen and (max-width: 786px) {
    .personal{
        width: 68%;
    }
}
@media screen and (max-width: 480px) {
    .center {
        font-size: 1.0rem;
        width: 90%;
        margin: 0 auto;
    }
    .personal{
        width: 90%;
        margin-bottom: 190px;
    }
    .personal>.center{
        text-align: left;
    }
}